@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Noto Sans", sans-serif;
    background-color: #D7E2EE;
}
.nav-item a{
    font-size: 18px;
    font-weight: 400;
    color: #000;
}
.nav-item{
    padding: 0 20px;
}
.build-process h2{
    font-weight: 500;
    color: #4E60B1;
}
.evo-btn{
    background-color: #4E60B1;
    color: #ffff;
}
.evo-btn:hover{
    transition: 0.3s;
    background-color: #4e60b1b5;
    color: #ffff;
}
.h2-portal{
    background: -webkit-linear-gradient(right,#3a93ff,#8053ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}
.h2-pages{
    background: -webkit-linear-gradient(right,#208ae9,#38c285);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    font-weight: 500;
}
.sign-up-container{
    background: linear-gradient(138deg, rgb(120, 223, 192) 0%, rgb(105, 189, 209) 100%);
}
.sign-up-container h1{
    color: white;
    font-size: 4rem;
}
.howBeauWorks-header span{
    color: rgb(111, 134, 144);
    letter-spacing: 3.2px;
}
.howItWorks-header{
    padding: 12px;
    background: -webkit-linear-gradient(175deg,#29c7bd,#27cf6a);
    -webkit-background-clip: text;
    color: #38c285;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}
.guide h2{
    background:-webkit-linear-gradient(0deg,#a87fe5 6.46%,#e57fbc 92.79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}